
@{
    ViewData["Title"] = "Index";
}

<h1>Tipo de Administracion</h1>

<div id="divTabla">

</div>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/js/tipoadministracion.js"></script>